header {
    margin-top: 35px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Poiret One', cursive;
}

#message-container {
    margin-top: 25px;
    text-align: center;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
}

#message {
    font-size: 24px;
}

#board {
    margin-top: 25px;
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.row square {
    font-size: 2em;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #ecf0f1;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-family: sans-serif;
    font-size: 48px;
    margin: 2px;
}

#button-container {
    margin-top: 30px;
    text-align: center;
}

#start, #submit, #play-again {
    width: 200px;
    height: 50px;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
    border: none;
}

#start {
    background-color: #2ecc71;
}

#submit {
    background-color: #3498db;
    color: white;
}

#play-again {
    background-color: #f1c40f;
}
